<div class="container">
  <div class="page-header">
    <h3><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Cluster Composer</h3>
  </div>
  <%= render 'new_from_path_form', azhpccluster: @azhpccluster %>
</div>
