<h1>Azhpcclusters#new_from_url</h1>
<p>Find me in app/views/azhpcclusters/new_from_url.html.erb</p>

<div class="container">
  <div class="page-header">
    <h3>Create a new cluster from a URL</h3>
  </div>

  <%= render 'new_from_url_form', azhpccluster: @azhpccluster %>
</div>
